.products__product-container {
  width: 100vw;
}

.products__main-title {
  padding: 40px;
  font-weight: 900;
}

.products__products-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding-top: 40px;
  justify-content: center;
}
