.checkout__product-container {
  width: 100vw;
  padding-bottom: 80px;
}

.checkout__main-title {
  padding: 40px;
  font-weight: 900;
}

.checkout__main__products-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding-top: 40px;
  justify-content: center;
}

.checkout__form-container {
  padding-left: 40px;
}
